{% extends 'app.html.twig' %}

{% block title %}Gruppe löschen{% endblock %}

{% block content %}
    <!-- User Container -->
    <div class="container userContainer">
        <div class="columns">
            <div class="column col-3 col-mx-auto mainContent">
                <div class="formtitle">
                    <h2 class="h5 tableTitle">
                        <i class="material-icons">
                            settings
                        </i>
                        {{ 'Gruppe Löschen'|trans }}
                    </h2>
                </div>
                <form method="POST" class="form-md">
                    <div class="form-data">
                        <div class="form-data-left">
                            <h6>{{ 'Löschung des Gruppes einreichen: '|trans }}</h6>
                            <div class="form-group">
                                <h3><b>{{ team.name }}</b></h3>
                                <input class="form-input" name="id" type="hidden" id="id" placeholder="id"
                                       value="{{ team.id }}">
                            </div>

                            <div class="form-data-right">
                                <a href="{{ path('app_team') }}" style="text-decoration: none">
                                    <button type="button" class="button btn">
                                        {{ 'schließen'|trans }}
                                    </button>
                                </a>
                                <button type="submit" class="button btn btn-primary raise">
                                    {{ 'Submit'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
