{% extends 'app.html.twig' %}

{% block title %}{{ 'Gruppe bearbeiten'|trans }}{% endblock %}

{% block content %}
    <!-- User Container -->
    <div class="container userContainer">
        <div class="columns">
            <div class="column col-3 col-mx-auto mainContent">
                <div class="formtitle">
                    <h2 class="h5 tableTitle">
                        <i class="material-icons">
                            settings
                        </i>
                        {{ 'Gruppe bearbeiten'|trans }}
                    </h2>
                </div>
                <form method="POST" class="form-lg">
                    <div class="form-data">
                        <div class="form-data-left">
                            <div class="form-group">
                                <label class="form-label" for="name">{{ 'Name'|trans }}</label>
                                <input class="form-input" name="name" type="text" id="name" placeholder="Name"
                                       value="{{ team.name }}" required>
                            </div>

                            <div class="form-data-right">
                                <a href="{{ path('app_team') }}" style="text-decoration: none">
                                    <button type="button" class="button btn">
                                        {{ 'schließen'|trans }}
                                    </button>
                                </a>
                                <button type="submit" class="button btn btn-primary raise">
                                    {{ 'Submit'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
