{% extends 'app.html.twig' %}

{% block title %}{{ 'Gruppen'|trans }}{% endblock %}

{% block content %}
    <div class="container userContainer">
        <div class="columns">
            <div class="col-2 sideContent">
                <!-- Search -->
                <div class="container searchContainer">
                    <h6>{{ 'Gruppensuche'|trans }}</h6>
                    <input type="text" name="Search" id="search" class="single-line-inputs"
                           placeholder="Suchbegriff eingeben"
                           required>
                    <i class="material-icons">
                        search
                    </i>
                </div>
            </div>
            <div class="col-6 mainContent">
                <h2 class="h5 tableTitle">
                    <i class="material-icons">
                        settings
                    </i>
                    <span class="badge" data-badge="{{ teams|length }}">Gruppenliste </span>
                    <a href="{{ path('app_team_add') }}">
                        <button class="button btn btn-primary btn-sm raise">
                            <i class="material-icons">add</i>
                            {{ 'Hinzufügen'|trans }}
                        </button>
                    </a>
                </h2>
                <div class="container">
                    <table class="table table-striped" id="table">
                        <thead>
                        <tr>
                            <th style="width: 6rem"></th>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'Mitglieder'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <td><i class="material-icons">group</i></td>
                                <td>{{ team.name|capitalize }}</td>
                                <td>{{ team.userCount }}</td>
                                <td>
                                    <div class="popover popover-left">
                                        <i class="material-icons">more_vert</i>
                                        <div class="popover-container">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="{{ path('app_team_edit',{team: team.id}) }}">
                                                        <button class="button btn btn-primary raise">
                                                            <i class="material-icons">edit</i>
                                                            {{ 'Bearbeiten'|trans }}
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="card-footer">
                                                    <a href="{{ path('app_team_delete',{team: team.id}) }}">
                                                        <button class="button btn btn-primary raise">
                                                            <i class="material-icons">delete</i>
                                                            {{ 'Löschen'|trans }}
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
