html,
body {
  width: 100%;
  height: 100%;
  background-color: #FBFBFB;
  background-image: url("/img/background.png");
  text-rendering: optimizeLegibility;
  color: #3b4351;
  letter-spacing: 0.01em;
  font-family: 'Roboto', sans-serif;
}
.header {
  padding-bottom: 0.2rem;
}
.raise {
  background-color: #5558af !important;
}
.raise:hover,
.raise:focus {
  box-shadow: 0 4px 7px 0 #5558af;
}
.primaryNav {
  background-color: #FBFBFB;
  padding: 0.5rem;
  box-shadow: 0 3px 6px 0 rgba(109, 109, 109, 0.24);
  z-index: 100;
  position: relative;
}
.primaryNav .right-side a {
  color: #6D6D6D;
  font-size: 14px;
}
.primaryNav .left-side a {
  color: #6D6D6D;
  font-size: 14px;
}
.primaryNav .left-side a span {
  float: right;
  margin-left: 0.1rem;
}
.primaryNav a {
  color: #6D6D6D;
}
.primaryNav .logo {
  color: #6D6D6D;
  font-size: 16px;
}
.primaryNav .logo span {
  font-weight: bolder;
  font-size: 18px;
}
.primaryNav .avatar {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 900;
}
.secondaryNav {
  padding: 0.8rem;
}
.secondaryNav .navbar-section a {
  color: #6D6D6D;
}
.secondaryNav .navbar-section .activeNav {
  font-weight: bold;
  color: #3b4351;
}
.secondaryNav span {
  color: #6D6D6D;
  font-weight: bold;
}
.modal-container {
  background-image: url("/img/background.png");
  background-position-y: 100px;
}
.modal-body .content .columns {
  padding: 1rem;
}
.button {
  align-items: center;
  display: inline-flex;
  border-radius: 1rem;
  margin-top: 3%;
}
.button i {
  float: left;
  padding-right: 0.2rem;
  font-size: 18px;
}
.single-line-inputs {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6D6D6D;
  color: #5849a1;
}
.single-line-inputs:focus {
  border-bottom: solid 1px #5558af;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(85, 88, 175, 0.45);
}
.login {
  height: 100%;
  /*padding: 30px 50px 0 50px;*/
  padding: 10rem 2.4rem 0 2.4rem;
}
.login .header {
  margin: 5% 0 5% 0;
  color: #5849a1;
}
.login .form-label {
  color: #6D6D6D;
}
.userContainer {
  width: 96%;
  height: 100%;
  margin-top: 2rem;
}
.userContainer .mainContent {
  border-top: solid 0.1rem #ebb5a1;
  border-radius: 0.15rem;
  background: #FBFBFB;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
  padding: 2rem;
  opacity: 0.95;
}
.userContainer .mainContent .tableTitle {
  color: #ebb5a1;
  font-weight: 600;
}
.userContainer .mainContent .tableTitle i {
  font-size: 14px;
  color: #bcbcbc;
}
.userContainer .mainContent .tableTitle button {
  float: right;
}
.userContainer .mainContent .tableTitle button i {
  font-size: 18px;
  color: #FBFBFB;
}
.userContainer .mainContent table th {
  border: none;
  color: #6D6D6D;
  width: 155px;
}
.userContainer .mainContent table td {
  border: none;
  color: #3b4351;
  padding-left: 1rem;
  font-size: 12px;
}
.userContainer .mainContent table td img {
  width: auto;
  height: 17%;
}
.userContainer .mainContent table td .popover {
  cursor: default;
  float: right;
}
.userContainer .mainContent table td .popover .popover-container {
  width: 180px;
  text-align: center;
}
.userContainer .sideContent {
  background: #FBFBFB;
  border-radius: 0.15rem;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
  opacity: 0.75;
  margin-left: 16rem;
}
.userContainer .sideContent .searchContainer {
  padding: 4rem 0 0 2rem;
}
.userContainer .sideContent .searchContainer i {
  margin-left: -24px;
}
.userContainer .sideContent .searchContainer h6 {
  font-size: 14px;
  color: #5849a1;
  font-weight: bold;
}
.userContainer .sideContent .searchContainer input {
  font-size: 12px;
  max-width: 195px;
  background-size: 8%;
  border-bottom-color: #bcbcbc;
}
.userContainer .sideContent .searchContainer .form-group label {
  font-size: 12px;
  padding-left: 1.5rem;
}
.dashboard {
  padding: 1.5rem;
}
.dashboard .currentWeek {
  font-weight: bold;
}
.dashboard .currentWeek .first-td {
  box-shadow: inset 10px 1px 0px -6px #1f9906;
}
.dashboard .currentWeek .material-icons {
  font-size: 2.5em;
}
.dashboard .currentWeek .text {
  font-size: 2.5em;
}
.dashboard .first-row-left {
  background-color: #FBFBFB;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
  border-top: solid 2px #ebb5a1;
  border-radius: 0.15rem;
  padding: 2rem;
  opacity: 0.95;
}
.dashboard .first-row-left .raise {
  padding-left: 0.75rem;
}
.dashboard .first-row-left .tableTitle {
  color: #ebb5a1;
  font-weight: bold;
}
.dashboard .first-row-left .tableTitle i {
  font-size: 14px;
  color: #bcbcbc;
}
.dashboard .first-row-left table th {
  border: none;
  color: #6D6D6D;
  font-size: 14px;
}
.dashboard .first-row-left table td {
  border: none;
  color: #3b4351;
  font-size: 12px;
}
.dashboard .first-row-left table td img {
  width: auto;
  height: 17%;
}
.dashboard .first-row-right {
  background-color: #FBFBFB;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
  border-top: solid 2px #ebb5a1;
  border-radius: 0.15rem;
  padding: 2rem;
  width: 20%;
  margin-left: 3rem;
  opacity: 0.95;
}
.dashboard .first-row-right .buttonLogs {
  overflow-y: scroll;
  max-height: 440px;
}
.dashboard .first-row-right .tableTitle {
  color: #ebb5a1;
  font-weight: bold;
}
.dashboard .first-row-right .tableTitle i {
  font-size: 14px;
  color: #bcbcbc;
}
.dashboard .first-row-right table .datetime {
  text-align: left;
}
.dashboard .first-row-right table .datetime .date {
  font-size: 10px;
}
.dashboard .first-row-right table .datetime .time {
  font-size: 14px;
  font-weight: bold;
}
.dashboard .first-row-right table .title {
  text-align: center;
}
.dashboard .first-row-right table th {
  border: none;
  color: #6D6D6D;
  font-size: 14px;
}
.dashboard .first-row-right table td {
  border: none;
  color: #3b4351;
  font-size: 12px;
}
.dashboard .first-row-right table td img {
  width: auto;
  height: 17%;
}
.dashboard .lower-dashboard {
  background-color: #FBFBFB;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
  border-top: solid 2px #ebb5a1;
  border-radius: 0.15rem;
  padding: 2rem;
  opacity: 0.95;
  margin-top: 2rem;
}
.dashboard .lower-dashboard .title {
  color: #ebb5a1;
  font-weight: 600;
}
.dashboard .lower-dashboard .title i {
  font-size: 14px;
  color: #bcbcbc;
}
.dashboard .lower-dashboard .title button {
  float: right;
}
.dashboard .lower-dashboard .title button i {
  font-size: 18px;
  color: #FBFBFB;
}
a.icon i.navigation {
  font-size: 16px !important;
  font-weight: bolder;
  color: #5849a1 !important;
}
a.icon:focus,
a.icon:hover {
  text-decoration: none;
}
.formtitle {
  display: flex;
  justify-content: space-between;
  padding-left: 9%;
}
.reddot {
  color: #bf0808;
}
.greendot {
  color: #2ecc71;
}
.errors {
  padding-top: 10vh;
}
.errors > .errors-image {
  justify-content: center;
  display: flex;
}
.errors > .errors-image > img {
  height: 400px ;
  width: 600px;
}
.errors > .errors-message {
  justify-content: center;
  display: flex;
}
form.form-sm {
  width: 33%;
}
form.form-md {
  width: 66%;
}
form.form-lg {
  width: 100%;
}
form.form-xs {
  width: 15%;
}
input[type=text] {
  border: 0;
  border-bottom: 2px solid #5558af;
  background: none;
  border-radius: 0;
}
input[type=text]:hover {
  background: rgba(34, 50, 84, 0.0003);
}
input[type=text]:not(:placeholder-shown) span {
  color: #5A667F;
  transform: translateY(-26px) scale(0.75);
}
input[type=text]:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=text]:focusspan {
  color: #0077FF;
  transform: translateY(-26px) scale(0.75);
}
input[type=text]:focusspan .border {
  transform: scaleX(1);
}
input[type=text]:disabled {
  background: rgba(34, 50, 84, 0.0003);
  border-color: #5558af;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-group .form-label {
  font-size: 12px;
}
.form-data {
  display: flex;
  justify-content: space-around;
}
.form-data-left .button {
  float: left;
}
.form-data-right .button {
  float: right;
}
select option {
  text-align: center;
}
.toasts {
  width: 15vw;
  top: 8vh;
  position: fixed;
  left: 43%;
  animation: fadin 1s ease-out;
  z-index: 99;
}
.toast.toast-error {
  background: #bf0808;
  border: #bf0808;
}
@keyframes fadin {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
