@rose: #FEDCCC;
@rose_dark: #e0ab96;
@rose_smooth: #ebb5a1;
@lila: #5558af;
@lila_dark: #5849a1;
@gray_dark: #6D6D6D;
@gray_light: #bcbcbc;
@white: #FBFBFB;
@almost_black: #3b4351;
@error: #bf0808;
@success: #2ecc71;

.test() {

}

// GLOBAL
html, body {
  width: 100%;
  height: 100%;
  background-color: @white;
  background-image: url("/img/background.png");
  text-rendering: optimizeLegibility;
  color: @almost_black;
  letter-spacing: 0.01em;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding-bottom: 0.2rem;
}

.raise {
  background-color: @lila !important;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 4px 7px 0 @lila;
}

.primaryNav {
  background-color: @white;
  padding: 0.5rem;
  box-shadow: 0 3px 6px 0 fade(@gray_dark, 24%);
  z-index: 100;
  position: relative;
  & .right-side a {
    color: @gray_dark;
    font-size: 14px;
  }

  & .left-side a {
    color: @gray_dark;
    font-size: 14px;

    & span {
      float: right;
      margin-left: 0.1rem;
    }
  }

  & a {
    color: @gray_dark;
  }

  & .logo {
    color: @gray_dark;
    font-size: 16px;

    & span {
      font-weight: bolder;
      font-size: 18px;
    }
  }

  & .avatar {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 900;
  }

}

.secondaryNav {
  padding: 0.8rem;

  & .navbar-section {
    & a {
      color: @gray_dark;
    }

    & .activeNav {
      font-weight: bold;
      color: @almost_black;
    }
  }

  & span {
    color: @gray_dark;
    font-weight: bold;
  }
}

.modal-container {
  background-image: url("/img/background.png");
  background-position-y: 100px;
}

.modal-body .content {
  & .columns {
    padding: 1rem;
  }
}


// LOGIN
.button {
  align-items: center;
  display: inline-flex;
  border-radius: 1rem;
  margin-top: 3%;

  & i {
    float: left;
    padding-right: 0.2rem;
    font-size: 18px;
  }

}

.single-line-inputs {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid @gray_dark;
  color: @lila_dark;

  &:focus {
    border-bottom: solid 1px @lila;
    outline: 0;
    box-shadow: 0 2px 6px -8px fade(@lila, 45%);
  }
}

.login {
  height: 100%;
  /*padding: 30px 50px 0 50px;*/
  padding: 10rem 2.4rem 0 2.4rem;

  & .header {
    margin: 5% 0 5% 0;
    color: @lila_dark;
  }

  & .body {
  }

  & .form-label {
    color: @gray_dark;
  }
}



// Users
.userContainer {
  width: 96%;
  height: 100%;
  margin-top: 2rem;

  & .mainContent {
    border-top: solid 0.1rem @rose_smooth;
    border-radius: .15rem;
    background: @white;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
    padding: 2rem;
    opacity: 0.95;

    & .tableTitle {
      color: @rose_smooth;
      font-weight: 600;

      & i {
        font-size: 14px;
        color: @gray_light;
      }

      & button {
        float: right;

        & i {
          font-size: 18px;
          color: @white;
        }
      }
    }

    & table {
      & th {
        border: none;
        color: @gray_dark;
        width: 155px;
      }

      & td {
        border: none;
        color: @almost_black;
        padding-left: 1rem;
        font-size: 12px;

        & img {
          width: auto;
          height: 17%;
        }

        & .popover {
          cursor: default;
          float: right;

          & .popover-container {
            width: 180px;
            text-align: center;
          }
        }
      }
    }
  }

  & .sideContent {
    background: @white;
    border-radius: .15rem;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
    opacity: .75;
    margin-left: 16rem;

    & .searchContainer {
      padding: 4rem 0 0 2rem;

      & i {
        margin-left: -24px;
      }

      & h6 {
        font-size: 14px;
        color: @lila_dark;
        font-weight: bold;
      }

      & input {
        font-size: 12px;
        max-width: 195px;
        background-size: 8%;
        border-bottom-color: @gray_light;
      }

      & .form-group {
        & label {
          font-size: 12px;
          padding-left: 1.5rem;
        }
      }
    }
  }
}



// Dashboard

.dashboard {
  padding: 1.5rem;

  & .currentWeek {
    font-weight: bold;

    .first-td {
      box-shadow: inset 10px 1px 0px -6px rgba(31,153,6,1);
    }

    .material-icons {
      font-size: 2.5em;
    }

    .text {
      font-size: 2.5em;
    }
  }

  & .first-row-left {
    background-color: @white;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
    border-top: solid 2px @rose_smooth;
    border-radius: .15rem;
    padding: 2rem;
    opacity: 0.95;

    .raise {
      padding-left: 0.75rem;
    }

    & .tableTitle {
      color: @rose_smooth;
      font-weight: bold;

      & i {
        font-size: 14px;
        color: @gray_light;
      }
    }

    & table {
      & th {
        border: none;
        color: @gray_dark;
        font-size: 14px;
      }

      & td {
        border: none;
        color: @almost_black;
        font-size: 12px;

        & img {
          width: auto;
          height: 17%;
        }
      }
    }
  }

  & .first-row-right {
    background-color: @white;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
    border-top: solid 2px @rose_smooth;
    border-radius: .15rem;
    padding: 2rem;
    width: 20%;
    margin-left: 3rem;
    opacity: 0.95;

    & .buttonLogs {
      overflow-y: scroll;
      max-height: 440px;
    }

    & .tableTitle {
      color: @rose_smooth;
      font-weight: bold;

      & i {
        font-size: 14px;
        color: @gray_light;
      }
    }

    & table {

      & .datetime {

        text-align: left;

        & .date {
          font-size: 10px;
        }

        & .time {
          font-size: 14px;
          font-weight: bold;
        }
      }

      & .title {
        text-align: center;
      }

      & th {
        border: none;
        color: @gray_dark;
        font-size: 14px;
      }

      & td {
        border: none;
        color: @almost_black;
        font-size: 12px;

        & img {
          width: auto;
          height: 17%;
        }
      }
    }
  }

  & .lower-dashboard {
    background-color: @white;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.17);
    border-top: solid 2px @rose_smooth;
    border-radius: .15rem;
    padding: 2rem;
    opacity: 0.95;
    margin-top: 2rem;

    & .title {
      color: @rose_smooth;
      font-weight: 600;

      & i {
        font-size: 14px;
        color: @gray_light;
      }

      & button {
        float: right;

        & i {
          font-size: 18px;
          color: @white;
        }
      }
    }
  }
}

a {
  &.icon {
    i {
      &.navigation {
        font-size: 16px !important;
        font-weight: bolder;
        color: @lila_dark !important;
      }
    }

    &:focus, &:hover {
      text-decoration: none;
    }
  }
}

.formtitle {
  display: flex;
  justify-content: space-between;
  padding-left: 9%;
}

// PLAN tab

.reddot {
  color: @error;
}

.greendot {
  color: @success;
}
