.errors {
  padding-top: 10vh;
}

.errors > .errors-image {
  justify-content: center;
  display: flex;
}
.errors > .errors-image > img{
  height: 400px ;
  width: 600px;
}

.errors > .errors-message {
  justify-content: center;
  display: flex;
}