form {
  &.form-sm {
    width: 33%;
  }

  &.form-md {
    width: 66%;
  }

  &.form-lg {
    width: 100%;
  }

  &.form-xs {
    width: 15%;
  }
}


input[type=text] {
  border: 0;
  border-bottom: 2px solid @lila;
  background: none;
  border-radius: 0;

  &:hover {
    background: fade(#223254, .03);
  }

  &:not(:placeholder-shown) {
    span {
      color: #5A667F;
      transform: translateY(-26px) scale(.75)
    }
  }

  &:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;

    &span {
      color: #0077FF;
      transform: translateY(-26px) scale(.75);

      .border {
        transform: scaleX(1);
      }
    }

  }

  &:disabled {
    background: fade(#223254, .03);
    border-color: @lila;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}

.form-group {
  .form-label {
    font-size: 12px;
  }
}

.form-data {
  display: flex;
  justify-content: space-around;
}

.form-data-left {
  .button {
    float: left;
  }
}

.form-data-right {
  .button {
    float: right;
  }
}
select{
  option{
    text-align: center;
  }
}
