.toasts {
  width: 15vw;
  top: 8vh;
  position: fixed;
  left: 43%;
  animation: fadin 1s ease-out;
  z-index: 99;
}

.toast{
  &.toast-error{
    background: @error;
    border: @error;
  }
}

@keyframes fadin {
  0%   {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}