{% extends 'base.html.twig' %}

{% block title %}Oh. An Error Occurred {% endblock %}
{% block body %}
    <div class="columns col-9 col-mx-auto errors">
        <div class="column col-12 errors-image">
            <img src="https://cataas.com/cat/says/404%20wir%20arbeiten%20dran?v={{ random(50, 100) }}">
        </div>
        <div class="column col-12 errors-message">
            {% block error_message %}
            {% endblock %}
        </div>

        <a href="{{ path('app_dashboard') }}">Zurück</a>
    </div>
{% endblock %}