{% extends 'base.html.twig' %}

{% block title %}{{ 'Anmelden'|trans }}{% endblock %}

{% block body %}
    <div class="container grid-xs login">
        {% if error %}
            <div class="text-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 header">{{ 'Anmelden'|trans }}</h1>
        <form class="form body" method="post">
            <div class="form-group">
                <label for="inputUsername" class="form-label">{{ 'Benutzername'|trans }}</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputUsername"
                       class="form-input single-line-inputs"
                       placeholder=" " required autofocus>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="form-label">{{ 'Passwort'|trans }}</label>
                <input type="password" name="password" id="inputPassword" class="form-input single-line-inputs"
                       placeholder=" "
                       required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </div>
            <div class="form-group">
                <button class="button btn btn-primary raise"><i class="material-icons">lock_open</i>
                    <span>{{ 'Anmelden'|trans }}</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
