{% block timeline %}
    {% set ActiveMonday, ActiveThursday, ActiveWednesday, ActiveTuesday, ActiveFriday = '', '', '', '', '' %}
    {% if "now"|date("N")  == 1 %}
        {% set ActiveMonday = "active" %}
    {% elseif "now"|date("N")  == 2 %}
        {% set ActiveThursday = "active" %}
    {% elseif "now"|date("N")  == 3 %}
        {% set ActiveWednesday = "active" %}
    {% elseif "now"|date("N")  == 4 %}
        {% set ActiveTuesday = "active" %}
    {% elseif "now"|date("N")  == 5 %}
        {% set ActiveFriday = "active" %}
    {% endif %}

    <h2 class="h5 title">
        <i class="material-icons">
            settings
        </i>
        {{ 'Aktuell Woche:'|trans }} {{ 'KW'|trans }} {{ "now"|date("W") }}
    </h2>
    <ul class="step">
        <li class="step-item {{ ActiveMonday }}">
            <a href="#">
                {{ 'Montag'|trans }}
            </a>
        </li>
        <li class="step-item {{ ActiveThursday }}">
            <a href="#">
                {{ 'Dienstag'|trans }}
            </a>
        </li>
        <li class="step-item {{ ActiveWednesday }}">
            <a href="#">
                {{ 'Mittowch'|trans }}
            </a>
        </li>
        <li class="step-item {{ ActiveTuesday }}">
            <a href="#">
                {{ 'Donnerstag'|trans }}
            </a>
        </li>
        <li class="step-item {{ ActiveFriday }}">
            <a href="#">
                {{ 'Freitag'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
