{% extends 'app.html.twig' %}

{% block title %}{{ 'Clients'|trans }}{% endblock %}

{% block content %}
    <!-- Client Container -->
    <div class="container userContainer">
        <div class="columns">
            <!-- Left Side Content -->
            <div class="col-2 sideContent">
                <!-- Search -->
                <div class="container searchContainer">
                    <h6>{{ 'Client Suchen'|trans }}</h6>
                    <input type="text" name="Search" id="search" class="single-line-inputs"
                           placeholder="Suchbegriff eingeben"
                           required/>
                    <i class="material-icons">
                        search
                    </i>
                </div>
            </div>
            <!-- Right side && Main content -->
            <div class="col-6 mainContent">
                <!-- Title -->
                <h2 class="h5 tableTitle">
                    <i class="material-icons">
                        settings
                    </i>
                    <span class="badge" data-badge="{{ clients|length }}">{{ 'Clients Liste '|trans }}</span>
                    <a href="{{ path('app_client_add') }}">
                        <button class="button btn btn-primary btn-sm raise">
                            <i class="material-icons">add</i>
                            {{ 'Hinzufügen'|trans }}
                        </button>
                    </a>
                </h2>
                <!-- content -->
                <div class="container">
                    <table class="table table-striped" id="table">
                        <thead>
                        <tr>
                            <th style="width: 6rem"></th>
                            <th>{{ 'Name'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for clientObject in clients %}
                            {% set client = clientObject.toArray %}
                            <tr>
                                <td><i class="material-icons">usb</i></td>
                                <td>{{ client.name|capitalize }}</td>
                                <td>
                                    <div class="popover popover-left">
                                        <i class="material-icons">more_vert</i>
                                        <div class="popover-container">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="{{ path('app_client_edit',{client: client.id}) }}">
                                                        <button class="button btn btn-primary raise">
                                                            <i class="material-icons">edit</i>
                                                            {{ 'Bearbeiten'|trans }}
                                                        </button>
                                                    </a>
                                                </div>
                                                <div class="card-footer">
                                                    <a href="{{ path('app_client_delete',{client: client.id}) }}">
                                                        <button class="button btn btn-primary raise">
                                                            <i class="material-icons">delete</i>
                                                            {{ 'Löschen'|trans }}
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
