{% extends 'base.html.twig' %}

{% block body %}
    <header class="navbar secondaryNav">
        <section class="navbar-section">
            <a href="{{ path('app_dashboard') }}"
               class="btn btn-link {{ url == path('app_dashboard') ? 'activeNav' }}">{{ 'Startseite'|trans }}</a>
            {% if is_granted('ROLE_ADMINISTRATOR') %}
                <a href="{{ path('app_user') }}"
                   class="btn btn-link {{ url == path('app_user') ? 'activeNav' }}">{{ 'Benutzer'|trans }}</a>
                <a href="{{ path('app_team') }}"
                   class="btn btn-link {{ url == path('app_team') ? 'activeNav' }}">{{ 'Gruppen'|trans }}</a>
                <a href="{{ path('app_client') }}"
                   class="btn btn-link {{ url == path('app_client') ? 'activeNav' }}">{{ 'Clients'|trans }}</a>
            {% endif %}
        </section>
        <span style="float: right">
                    {{ "now"|date("j F Y") }} |
            <span style=";font-weight: normal">
                {{ 'KW'|trans }} {{ "now"|date("W") }}
            </span>
        </span>
    </header>
    </header>
    <div class="toasts">
        {% for label, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="toast toast-{{ label }}">
                    <button class="btn btn-clear float-right" onclick="$(this).parent().remove()"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {% block content %}
    {% endblock %}

{% endblock %}
