<!-- TWIG Variables -->
{% set url = app.request.pathinfo %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ asset('img/kitchen.png') }}">
    {% block stylesheets %}
    {% endblock %}

    <title>Küchendienst | {% block title %}{% endblock %}</title>
</head>
<body>
<!-- Primary Navigation Bar -->
<header class="navbar primaryNav">
    <section class="navbar-section left-side">
        {% if is_granted('ROLE_ADMINISTRATOR') %}
            <form action="{{ path('app_plan_create') }}" method="GET"
                  onsubmit="return confirm('Wenn Sie zustimmen, wird der aktuelle Plan gelöscht und mit dem neuen überschrieben');">
                <button class="btn btn-error" type="submit">
                    {{ 'Plan erstellung'|trans }}
                </button>
            </form>
        {% endif %}
    </section>
    <section class="navbar-center">
        <span class="logo"><span>|K</span>üchendienst</span>
    </section>
    <section class="navbar-section right-side">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <figure class="avatar" data-initial="{{ app.user.firstname }}">
                <i class="avatar-presence online"></i>
            </figure>
            <a href="{{ path('app_logout') }}" class="btn btn-link">{{ 'Ausloggen'|trans }}</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-link">{{ 'Anmelden'|trans }}</a>
        {% endif %}
    </section>
</header>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="{{ asset('javascript/main.js') }}"></script>
{% endblock %}
</body>
</html>
