{% extends 'app.html.twig' %}
{% use 'blocks/timeline.blocks.html.twig' %}

{% block title %}{{ 'Dashboard'|trans }}{% endblock %}

{% block content %}
    <!-- Dashboard Container -->
    <div class="container dashboard">
        <div class="columns">
            <!-- Left Content and main Group order content -->
            <div class="col-6 first-row-left" style="margin-left: 15rem">
                <!-- Title -->
                <h2 class="h5 tableTitle">
                    <i class="material-icons">
                        settings
                    </i>
                    {{ 'Anstehende Pläne'|trans }}
                </h2>
                <!-- content -->
                <div class="container">
                    <table class="table table-striped" id="table">
                        <thead>
                        <tr>
                            <th style="width: 6rem"></th>
                            <th>{{ 'KW'|trans }}</th>
                            <th>{{ 'Team'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for planObject in plans %}
                            {% set plan = planObject.toArray %}

                            <tr {% if plan.kw == "now"|date("W")  %}class="currentWeek"{% endif %}>
                                <td class="first-td">
                                    <i class="material-icons">
                                        assignment
                                    </i>
                                </td>
                                <td class="text">{{ plan.kw }}</td>
                                <td class="text">{{ plan.team|capitalize }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Right Row Content && Button Log -->
            <div class="col-3 first-row-right">
                <div class="container">
                    <!-- Title -->
                    <h2 class="h5 tableTitle">
                        <i class="material-icons">
                            settings
                        </i>
                        <span>{{ 'Button Logs '|trans }}</span>
                    </h2>
                    <!-- content -->
                    <div class="container buttonLogs">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in button_logs %}
                                <tr>
                                    <td class="title">
                                        <span><i class="material-icons">alarm</i></span>
                                    </td>
                                    <td class="datetime">
                                        <span class="datetime">{{ log }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="col-9 lower-dashboard" style="margin-left: 14.25rem">
                {{ block('timeline') }}
            </div>
        </div>
    </div>
{% endblock %}
