{% extends 'app.html.twig' %}

{% block title %}{{ 'Benutzer erstellen'|trans }}{% endblock %}

{% block content %}
    <!-- User Container -->
    <div class="container userContainer">
        <div class="columns">
            <div class="column col-3 col-mx-auto mainContent">
                <div class="formtitle">
                    <h2 class="h5 tableTitle">
                        <i class="material-icons">
                            settings
                        </i>
                        {{ 'User erstellen'|trans }}
                    </h2>
                </div>
                <form method="POST" class="form-lg" action="{{ path('app_user_add_submit') }}">
                    <div class="form-data">
                        <div class="form-data-left">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="form-label" for="email">{{ 'E-Mail'|trans }}</label>
                                    <input class="form-input" name="email" type="email" id="email" placeholder="E-Mail"
                                           required>
                                </div>
                                <label class="form-label" for="firstname">{{ 'Vorname'|trans }}</label>
                                <input class="form-input" name="firstname" type="text" id="firstname"
                                       placeholder="Firstname" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="lastname">{{ 'Nachname'|trans }}</label>
                                <input class="form-input" name="lastname" type="text" id="lastname"
                                       placeholder="Lastname" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password">{{ 'Password'|trans }}</label>
                                <input class="form-input" name="password" type="password" id="password"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="group">Group</label>
                                <select name="group" id="group" class="form-select" required="required">
                                    <option value="" selected="selected">--- {{ 'Bitte Auswählen'|trans }} ---</option>
                                    {% for team in teams %}
                                        <option value="{{ team.id }}">{{ team.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-data-right">
                                <a href="{{ path('app_user') }}" style="text-decoration: none">
                                    <button type="button" class="button btn">
                                        {{ 'schließen'|trans }}
                                    </button>
                                </a>
                                <button type="submit" class="button btn btn-primary raise">
                                    {{ 'Submit'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
