{% extends 'app.html.twig' %}

{% block title %}{{ 'Benutzer bearbeiten'|trans }}{% endblock %}

{% block content %}
    <!-- User Container -->
    <div class="container userContainer">
        <div class="columns">
            <div class="column col-3 col-mx-auto mainContent">
                <div class="formtitle">
                    <h2 class="h5 tableTitle">
                        <i class="material-icons">
                            settings
                        </i>
                        {{ 'User bearbeiten'|trans }}
                    </h2>
                </div>
                <form method="POST" class="form-lg">
                    <div class="form-data">
                        <div class="form-data-left">
                            <div class="form-group">
                                <label class="form-label" for="email">{{ 'E-Mail'|trans }}</label>
                                <input class="form-input" name="email" type="text" id="email" placeholder="E-Mail"
                                       value="{{ user.email }}" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="firstname">{{ 'Firstname'|trans }}</label>
                                <input class="form-input" name="firstname" type="text" id="firstname"
                                       placeholder="Firstname" value="{{ user.firstname }}" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="lastname">{{ 'Lastname'|trans }}</label>
                                <input class="form-input" name="lastname" type="text" id="lastname"
                                       placeholder="Lastname" value="{{ user.lastname }}" required>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="team">{{ 'Team'|trans }}</label>
                                <select class="form-select" name="team" id="team" required>
                                    <option value="{{ user.team.id }}" selected>{{ user.team.name|capitalize }}</option>
                                    {% for team in teams %}
                                        {% if user.team.id != team.id %}
                                        <option value="{{ team.id }}">
                                            {{ team.name|capitalize }}
                                        </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-data-right">
                                <a href="{{ path('app_user') }}" style="text-decoration: none">
                                    <button type="button" class="button btn">
                                        {{ 'schließen'|trans }}
                                    </button>
                                </a>
                                <button type="submit" class="button btn btn-primary raise">
                                    {{ 'Submit'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
