{% extends 'app.html.twig' %}

{% block title %}{{ 'Benutzer'|trans }}{% endblock %}

{% block content %}
    <!-- User Container -->
    <div class="container userContainer">
        <div class="columns">
            <!-- Left Side Content -->
            <div class="col-2 sideContent">
                <!-- Search -->
                <div class="container searchContainer">
                    <h6>{{ 'Benutzersuche'|trans }}</h6>
                    <input type="text" name="Search" id="search" class="single-line-inputs"
                           placeholder="Suchbegriff eingeben"
                           required/>
                    <i class="material-icons">
                        search
                    </i>
                </div>
            </div>
            <!-- Right side && Main content -->
            <div class="col-6 mainContent">
                <!-- Title -->
                <h2 class="h5 tableTitle">
                    <i class="material-icons">
                        settings
                    </i>
                    <span class="badge" data-badge="{{ users|length }}">{{ 'Benutzerliste '|trans }}</span>
                    <a href="{{ path('app_user_add') }}">
                        <button class="button btn btn-primary btn-sm raise">
                            <i class="material-icons">add</i>
                            {{ 'Hinzufügen'|trans }}
                        </button>
                    </a>
                </h2>
                <!-- content -->
                <div class="container">
                    <table class="table table-striped" id="table">
                        <thead>
                        <tr>
                            <th style="width: 6rem"></th>
                            <th class="tableEmail">{{ 'E-Mail'|trans }}</th>
                            <th>{{ 'Vorname'|trans }}</th>
                            <th>{{ 'Nachname'|trans }}</th>
                            <th>{{ 'Team'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for userObject in users %}
                            {% set user = userObject.toArray %}
                            <tr>
                                <td>
                                    <i class="material-icons">
                                        person
                                    </i>
                                </td>
                                <td><a href="mailto:{{ user.email }}" target="_blank">{{ user.email }}</a></td>
                                <td>{{ user.firstname|capitalize }}</td>
                                <td>{{ user.lastname|capitalize }}</td>
                                <td>{{ user.team.name|capitalize }}</td>
                                <td>
                                    <div class="popover popover-left">
                                        <i class="material-icons">more_vert</i>
                                        <div class="popover-container">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="{{ path('app_user_edit',{user: user.id}) }}">
                                                        <button class="button btn btn-primary raise">
                                                            <i class="material-icons">edit</i>
                                                            {{ 'Bearbeiten'|trans }}
                                                        </button>
                                                    </a>
                                                </div>
                                                {% if user.id != app.user.toArray.id %}
                                                    <div class="card-footer">
                                                        <a href="{{ path('app_user_delete',{user: user.id}) }}">
                                                            <button class="button btn btn-primary raise">
                                                                <i class="material-icons">delete</i>
                                                                {{ 'Löschen'|trans }}
                                                            </button>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
