<html lang="de">
<h2>|Küchendienst</h2>

<h4>Hallo {{ team }}!! Jemand hat der Küchendienst Button gedrückt.</h4>
<span>Alert! alert! alert!</span>
<p>
Die wütenden Löffel kämpfen mit den wilden Gabeln, aber die Teller versuchen Frieden zu schließen.<br>
Die dreckigen Becher haben diesen ganzen Kampf begonnen, weil sie das Kaffe nicht mehr aushalten können.
</p>
<p>
Sie sind unsere Champions. Bitte helfen Sie uns, bevor es zu spät ist!<br>
Ihr seit unsere einzige Hoffnung.
</p>
<p>
Mit freundlichen Grüßen,<br>
der Küchendienst Kapitän.
</p>
</html>
